includes:
  - phpstan-baseline.neon

parameters:
  level: max
  paths:
    - %currentWorkingDirectory%/config
    - %currentWorkingDirectory%/src
    - %currentWorkingDirectory%/tests
  excludePaths:
    - %currentWorkingDirectory%/src/DependencyInjection/Configuration.php
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    -
      identifier: missingType.iterableValue
